.footer__gallery{
    background-image: url("../img/img_texture1.jpg");
    background-repeat: repeat;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    align-items: start;
}
.gallery__art_of_cakes{
    height: auto;
}
.gallery .gallery__item{
    height: 100%; 
    & img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}
.mfp-bg{
    background: #efefef !important;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
    color: #505050 !important;
}
.mfp-figure:after{
    box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) !important;
    
}